body {
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200vh;
  }
  
  .calculator {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    width: 300px;
    text-align: center;
  }
  
  input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    font-size: 1rem;
  }
  
  .buttons {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 15px;
  justify-content: center;
  margin-top: 20px;
}

.buttons button {
  padding: 12px;
  background-color: rgb(65, 171, 185);
  color: white;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 5px black;
  cursor: pointer;
  font-size: 16px;
  width: 140px;
  height: 50px;
  transition: background 0.3s;
}

.buttons button:hover {
  background-color: rgb(77, 78, 53);
}

.clear-button {
  margin-top: 20px;
  text-align: center;
}

.clear-button button {
  background-color: red;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 20px 60px;
  font-size: 16px;
  box-shadow: 2px 2px 5px black;
  cursor: pointer;
  transition: background 0.3s;
}

.clear-button button:hover {
  background-color: darkred;
}
  
  .result {
    margin-top: 15px;
    font-size: 2.0rem;
    font-weight: bold;
  }

  .reference-box {
  margin-top: 15px;
  padding: 10px;
  background-color: white;
  border: 4px solid #3498db;
  border-radius: 0px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  max-width: 250px;
  max-height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.reference-box h2 {
  text-align: left;
  color: #111;
  margin-bottom: 10px;
}

.reference-box ul {
  list-style-type: none;
  padding: 0;
}

.reference-box li {
  padding: 10px 0;
  font-size: 1rem;
  border-bottom: 2px dashed #ccc;
}

.reference-box li:last-child {
  border-bottom: none
}
  